<div class="row">
  <div>
    <div class="row">
      <div class="small-1 columns">
        <%= recommendation.rank %>
      </div>
      <div class="small-9 columns">
        <%= link_to recommendation.repo.full_name, recommendation.repo.url %>
        <%= recommendation.repo.key %>
      </div>
    </div>
  </div>
</div>
