<div class="row">
  <div>

    <div class="row">
      <div class="small-1 columns">
        1
      </div>
      <div class="small-9 columns">
        <%= link_to "repo/repo", "http://github.com/repo/repo" %>
      </div>
    </div>

  </div>
</div>
