<div class="row">
  <div class="small-12 small-centered columns">
    <h3>Your recommendations</h3>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <table>
      <thead>
        <tr>
          <th width="150">Rank</th>
          <th>Project</th>
          <th width="200">Stats</th>
        </tr>
      </thead>
      <tbody>
        <%= render @recommendations %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
<%= form_tag recommendations_path, method: :get do %>
  <div class="small-12 columns">
    <div class="row">
      <div class="small-5 columns">
        <label class="right inline" for="languange">Select Language</label>
      </div>
      <div class="small-7 columns">
        <%= text_field_tag :languange, params[:languange], placeholder: Recommendation::DEFAULT_LANGUAGE %>
      </div>
    </div>
  </div>
<% end %>
</div>
