<h2>Get some recommendations</h2>

<p>
  Every year, I took a holiday. I went to Florence, this cafe on the
  banks of the Arno. Every fine evening, I would sit there and order a
  Fernet Branca. I had this fantasy, that I would look across the tables
  and I would see you there with a wife maybe a couple of kids. You
  wouldn't say anything to me, nor me to you. But we would both know
  that you've made it, that you were happy. I never wanted you to come
  back to Gotham. I always knew there was nothing here for you except
  pain and tragedy and I wanted something more for you than that. I
  still do.
</p>

<%= link_to 'Sign in with GitHub', '/auth/github', class: 'button' %>
