table {
    width: 100%;
}

.nav--avatar {
    width: 32px;
    height: 32px;
    padding: 3px;
    background-color: white;
}

.nav--login {
    margin-left: 10px;
}

.layout--content {
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(10);
}

.layout--footer {
    background-color: $primary-bg-color;
}

.layout--footer-content {
    color: #c0c0c0;
}

.layout--footer-list {
    @include inline-list;
    margin-top: rem-calc(20);
    font-size: rem-calc(13);
}
